#game-display {
  box-sizing: content-box;  
  width: 1440px;
  height: 810px;
  margin: 200px auto 0 20px;
  padding: 0;
  background-image: image-url('wheres-morty.jpg');
  box-shadow: 5px 5px 15px black;
  background-size: cover;
  background-repeat: no-repeat;
}

